# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# ===============================
# PyCharm
# ===============================
.idea/
*.iml

# ===============================
# OS files (Windows)
# ===============================
Thumbs.db
ehthumbs.db
Desktop.ini

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Test / coverage
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# Jupyter / pandas
# ===============================
.ipynb_checkpoints/

# ===============================
# SQL / local files
# ===============================
*.sqlite3
